<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.WxDao">
    <resultMap type="com.example.demo.domain.Wx" id="WxResultMap">
        <id property="userId" jdbcType="INTEGER" column="user_id"/>
        <result property="openId" jdbcType="VARCHAR" column="open_id"/>
    </resultMap>



    <select id="getUserId" resultMap="WxResultMap" parameterType="java.lang.String">
        select user_id, open_id from wx where open_id = #{openId,jdbcType=VARCHAR}
    </select>

    <delete id="delTagById" parameterType="java.lang.Integer">
        delete from tag where tag_id = #{tagId,jdbcType=INTEGER}
    </delete>

    <insert id="insertUserId" parameterType="com.example.demo.domain.Wx" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into wx
        <trim suffixOverrides="," suffix=")" prefix="(">
            <if test="openId != null">open_id, </if>
        </trim>

        <trim suffixOverrides="," suffix=")" prefix="values (">
            <if test="openId != null">#{openId,jdbcType=VARCHAR}, </if>
        </trim>

    </insert>



</mapper>